apiVersion: apps/v1
kind: Deployment
metadata:
  name: vpn
  labels:
    app: vpn
spec:
  replicas: 1
  selector:
    matchLabels:
      app: vpn
  template:
    metadata:
      labels:
        app: vpn
    spec:
      containers:
        - name: vpn
          image: "ghcr.io/axle-h/make-movies-vpn:latest"
          imagePullPolicy: Always
          ports:
            - name: socks
              containerPort: 9050
          livenessProbe:
            exec:
              command:
              - curl
              - --fail
              - -s
              - --socks5-hostname
              - localhost:9050
              - ipinfo.io/ip
            periodSeconds: 3600 # uses internet IO
          startupProbe:
            tcpSocket:
              port: socks
            failureThreshold: 10
            periodSeconds: 10
