.git
.github
k8s
vpn

**/node_modules
**/bin
**/obj
**/dist
**/.next

ui/mock-api
api/MakeMovies.Api.Tests
api/MakeMovies.Api/data
api/redeploy.sh
api/**/appsettings.Development.json
api/**/http-client.env.json
api/**/*.http

**/README.md
**/Dockerfile*
.dockerignore
